<h1>Detalhes</h1>
<div class="card col-8">
  <div class="card-body">
    <h5 class="card-title">{{detalhes.produto}}</h5>
    <strong>{{detalhes.preco}}</strong>
    <p class="card-text">{{detalhes.descricao}}</p>
    
    <form action="/lista/remove/{{detalhes.id}}" method="post">
      <input type="submit" value="Remover" class="btn btn-danger mb-3" />
    </form>
    <a href="/detalhes/edit/{{detalhes.id}}" class="btn btn-info">Editar</a>
  </div>
</div>